.container_home {
    width: 100%;

    .container_home_top {
        width: 100%;
        height: 110vh;
        background: url("./image/Background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;

        .container_home_top_content {
            position: absolute;
            top: 40%;
            width: 80%;
            height: 400px;
            left: 120px;

            p {
                font-size: 60px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;

                span {
                    color: #00a78e;
                }
            }

            h2 {
                font-size: 25px;
                width: 60%;
                color: #ddd;
            }

            button {
                outline: none;
                border: 2px solid #00a78e;
                margin-top: 12px;
                padding: 5px 15px;
                background-color: #00a78e;
                color: #fff;
                font-weight: 600;

                &:hover {
                    border: 2px solid #fff;
                }
            }
        }


    }

    .container_home_main {
        width: 100%;
        display: flex;

        .container_home_main_left {
            width: 20%;
            height: 900px;
            background-color:green;
        }

        .container_home_main_rigth {
            width: 80%;

            .container_home_main_right_top {
                width: 100%;
                display: flex;

                .container_home_main_right_top1 {
                    width: 100%;

                    h1 {
                        margin-top: 20px;
                        color: #000;
                        font-weight: 700;
                        position: relative;

                        // &::after {
                        //     content: "";
                        //     height: 3px;
                        //     width: 90px;
                        //     background: #00a78e;
                        //     position: absolute;
                        //     bottom: -10px;
                        //     transition: 0.5s;
                        // }
                    }
                }

                .container_home_main_right_top2 {
                    width: 240px;
                    height: 40px;
                    margin-top: 20px;
                    border-left: 1px solid #d4d4d4;
                    display: flex;
                    flex-wrap: wrap;

                    select {
                        cursor: pointer;
                        font-size: 20px;
                        width: 100%;
                        outline: none;
                        border: 1px solid #d4d4d4;
                        text-transform: capitalize;

                    }

                }
            }

            .container_home_product_card {
                width: 98%;
                margin-top: 20px;
                justify-content: space-between;
                display: flex;
                flex-wrap: wrap;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                background-color: red;
margin: auto;
                .cardhome_container {

                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    padding-bottom: 20px;
                    width: 100%;
                    margin-top: 20px;
                    margin: 5% auto;
                    border-radius: 3px;
                    flex-wrap: wrap;
                    background-color: wheat;

                    img {
                        width: 300px;
                        height: 200px;
                        // margin-left: 30px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

}